html,body {
    width:100%;
    margin:0px;
    /*background:-webkit-linear-gradient(left,#000000,#989898,#000000);*/
    /*background: -o-linear-gradient(left,#000000,#989898,#000000);*/ /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(left,#000000,#989898,#000000);*/ /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(to left,#000000,#989898,#000000);*/
    background:-webkit-linear-gradient(left,#90c6e5,#cadfd5,#90c6e5);
    background: -o-linear-gradient(left,#90c6e5,#cadfd5,#90c6e5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left,#90c6e5,#cadfd5,#90c6e5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left,#90c6e5,#cadfd5,#90c6e5);
}

ul{
	margin-top: 0;
	margin-bottom: 0;
}

.row{
  width: 100%;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.img{ 
  background:#ffffff;
  /*padding:12px;
  border:1px solid #999999;*/
}
        
.backgrnd{
  background-image:url("../imageBack/hospital.jpg");
  /*background-position: center;*/
  background-size: cover;
}

.transbox{
  background: rgba(255,255,255,0.3);
  /*opacity: 0.4;*/
}

.navbar {
	 position: relative;
	 min-height: 50px;
    border: 1px solid transparent;
	 padding-right: 0; 
    padding-left: 0;
    border-radius: 0;
    background-color: #e5e5e5;
    box-shadow: 0px 2px 2px black;
}

.navbar-border {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}


.navbar-brand {
	float: left;
  	height: 25px;
  	padding: 15px 15px;
  	font-size: 18px;
  	line-height: 20px;
}

.navbar-brand h4{
	margin-top: -5px;
	font-size: 30px;
  color: white;
	font-family: cursive, sans-serif;
	font-style: oblique;
}

.col a
{
    color: #ffffff;
}

.col a:hover
{
     color: #000000;
    background:-webkit-linear-gradient(#FFFFFF,#989898);
    background: -o-linear-gradient(#FFFFFF,#989898); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFFFFF,#989898); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFFFFF,#989898);
    box-shadow: 0px 5px 5px #000000;
}

.containerMargin {
  margin-top: 150px;
}